.card__container {
  width: 18rem;
  height: 12rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #390554;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details__alignment {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.detail__title {
  color: #f5f5f5;
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.detail__info {
  color: #f5f5f5;
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
